* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(128, 209, 233);
  align-items: center;
  
  
}

.flag-icon{
  width: 5em;
  line-height: 5em;
}

.correct{
  color: rgb(4, 83, 4);
}

.incorrect{
  color: rgb(146, 9, 9);
}

button{
  background-color: black;
  color: white;
  padding: 12px;
  border-radius: 5px;

}
h1{
  padding: 80px;
}

